            .header {
                background-color: #5FE6EB;
                display: flex;
                justify-content: space-between;
                font-size:30px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color:#214758;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .menu {
                background-color: #5FE6EB;
                display: flex;
                justify-content: space-between;
                font-size:20px;
                font-family:courier;
                width: 230px;
            }

            .description1 {
                background-color: #90EE90;
                display: flex;
                justify-content: flex-start;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:25px;
                color:#3e8046;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .description2 {
                background-color: #FFD700;
                display: flex;
                justify-content: flex-start;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size:25px;
                color:#705416;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .footer {
                background-color: #DDA0DD;
                display: flex;
                justify-content: flex-end;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;
                font-size:25px;
                background-color: #e9e0e5;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
                text-align: center;
            }

            .linksS {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;
                font-size:25px;
                background-color: #e0e9e8;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
                text-align: center;
            }

            .links1 {
                background-color: #e7c1d4;
                color:#fd007f;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links2 {
                background-color: #a7e7e4;
                color:#2d667c;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }


            .links3 {
                background-color: #8fe79e;
                color:#295729;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links4 {
                background-color: #ebecab;
                color:#929409;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links5 {
                background-color: #ecd5ab;
                color:#915e00;               
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links6 {
                background-color: #ddc5f1;
                color:#8c00ff;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            body{
                background-color: #f0efd9;
                margin:0px;
            }