            .header {
                background-image: linear-gradient(to bottom, #4dd2ff , #00A8E0);
                display: flex;
                justify-content: space-between;
                font-size:30px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color:#ED5425;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .header:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .menu {
                display: flex;
                justify-content: space-between;
                font-size:20px;
                font-family:'Arial';
            }

            .description1 {
                background-image: linear-gradient(to bottom, #00A8E0 , #0084BB);
                display: flex;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:25px;
                flex-direction: column;
                justify-content: first baseline;
                color:#ed9625;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .description1:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .description2 {
                background-image: linear-gradient(to bottom, #0084BB , #1965A4);
                display: flex;
                flex-direction: column;
                justify-content: first baseline;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size:25px;
                color:#edcf25;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .description2:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .footer {
                background-color: #93258E;
                background-image: linear-gradient(to bottom, #593690 , #93258E);
                display: flex;
                justify-content: space-evenly;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
                height:50px;
                font-size:20px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color:#ffe02d;
            }

            .footer:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .links {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;
                font-size:25px;
                background-image: linear-gradient(to bottom, #1965A4 , #33398D);
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
                position:relative;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .linksS {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;
                font-size:25px;
                background-image: linear-gradient(to bottom, #33398D , #593690);
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
                position:relative;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
                color:#ffffff;
            }

            .links1:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #818181;
            }

            .links2:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #818181;
            }

            .links3:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #818181;
            }

            .links4:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #818181;
            }

            .links5:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #818181;
            }

            .links6:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #818181;
            }

            .links1 p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-270%, -50%);
                opacity:0;
            }

            .links1:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .links1:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .links2 p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                opacity:0;
            }

            .links2:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .links2:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .links3 p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(340%, -50%);
                opacity:0;
            }

            .links3:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .links3:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .links4 p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-285%, -50%);
                opacity:0;
            }

            .links4:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .links4:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .links5 p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                opacity:0;
            }

            .links5:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .links5:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .links6 p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(300%, -50%);
                opacity:0;
            }

            .links6:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .links6:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .links1 {
                background-image: linear-gradient(to bottom, #ffea97 , #FFD00D);
                color:#635007;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links2 {
                background-image: linear-gradient(to bottom, #ffe26f , #F9C822);
                color:#53430c;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }


            .links3 {
                background-image: linear-gradient(to bottom, #ffde73 , #EABF33);
                color:#493b10;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links4 {
                background-image: linear-gradient(to bottom, #EABF33 , #DFE315);
                color:#434405;
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links5 {
                background-color: #CFCD41;
                background-image: linear-gradient(to bottom, #DFE315 , #CFCD41);
                color:#4e4d17;               
                font-size:25px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .links6 {
                background-color: #BBB15D;
                background-image: linear-gradient(to bottom, #CFCD41 , #BBB15D);
                color:#464222;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            body{
                background-image: linear-gradient(to bottom, #ED5425 , #B5D42E);
                margin:0px;
            }

            .menu a:link {
                color: #ED5425;
                width: 200px;
                margin-right: 50px;
                text-decoration:none;
            }

            .menu a:visited {
                color: #ED5425;
                text-decoration:none;
            }

            .footer a:link {
                color: #ED5425;
                width: 200px;
                margin-right: 50px;
                text-decoration:none;
            }

            .footer a:visited {
                color: #ED5425;
                text-decoration:none;
            }

            .circle img {
                display:flex;
                margin: auto;
                border-radius: 5%;
                filter:blur(5px);
            }

            .circle:hover img{
                transition-duration: 0.7s;
                filter:none;
                transform:scale(1.02);
            }